footer.main-footer
    div.pull-right.hidden-xs [ ] with 
        i(style="color: #F64747").fa.fa-heart 
        |  in Indonesia
    strong Copyright &copy; 2017 
        a(href="/") MyLibrary 
    | All rights reserved.