extends layout

block content  
    section.content-header
        h1= error.status + ' ' + message
    section.content
        .row
            .col-xs-12
                .box.box-primary
                    .box-body
                        pre #{error.stack}
